.footer__link {
  color: #F2F2F2;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0;
  text-decoration: none;
  transition: opacity ease 350ms;
}

.footer__link:hover {
  opacity: 35%;
}