.place__website {    
  grid-row: 1;
  grid-column: 2;
  align-self: end;
}

@media screen and (max-width:767px) {
  .place__website {
    margin: 32px 0;
    padding-left: 16px;
    align-self: flex-start;
  }
}